/* div{
    top: 72px;
    left: 166px;
    width: 576px;
    height: 576px;
    UI Properties */
/* background: transparent url('img/Ellipse 2.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    opacity: 1;
} */

/* kJQwMYUL9@UVQr5 */
.outer {
    position: relative;
    top: 20px;
    left: 20px;
    width: 1560px;
    height: 720px;

    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}

.hero_div {
    position: relative;
    top: 72px;
    left: 166px;
    width: 576px;
    height: 576px;

    background: transparent url('../images/hero-image.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 4px 31px #0000000A;
    border: 2px solid #FFFFFF;
    opacity: 1;

}

#company_logo {
    position: absolute;
    top: 106px;
    left: 906px;
    width: 272px;
    height: 58px;

    opacity: 1;
    bottom: 200px;

}

#expert {
    color: rgba(200, 36, 47, 1);
    font-weight: 800;
}

#description {
    position: absolute;

    top: 183px;
    left: 905px;
    width: 500px;
    height: 100px;
    text-align: left;
    font: normal normal 400 30px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

#login_text {
    position: absolute;
    top: 315px;
    left: 904px;
    width: 320px;
    height: 33px;

    text-align: left;
    font: normal normal normal 21px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.input1 {
    position: absolute;
    top: 372px;
    left: 907px;
    width: 429px;
    height: 49px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}

.input2 {
    position: absolute;
    top: 448px;
    left: 907px;
    width: 429px;
    height: 49px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
}

#submit {
    position: absolute;
    top: 527px;
    left: 906px;
    width: 138px;
    height: 45px;

    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    color: rgb(255, 255, 255);
}

#f_password {
    position: absolute;
    top: 539px;
    left: 1214px;
    width: 121px;
    height: 20px;

    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: rgba(173, 173, 173, 1);
    opacity: 1;
}

#member_text {
    position: absolute;
    top: 595px;
    left: 906px;
    width: 140px;
    height: 20px;

    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

#register {
    position: absolute;
    top: 595px;
    left: 1040px;
    width: 88px;
    height: 20px;

    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}




.stat-box {
    background: #ffffff;
    padding: 16px 20px;
    border-radius: 10px;
    height: 100%;
    width: 200px;
    color: #3E3E3E;
}

.stat-box h6 {
    font-size: 18px;
}

.stat-box img {
    flex-shrink: 0;
}

.dashboard_title {
    text-align: left;
    font: normal normal 500 25px/39px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.graph_text {
    height: 400px;
    width: 750px;
}

.sale {
    font: normal normal 600 18px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.line {
    text-decoration: underline;
    text-underline-offset: 10px;

}

.pie_chart_text {
    font: normal normal 600 18px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}


.country_text {
    top: 310px;
    left: 870px;
    width: 165px;
    height: 29px;

    font: normal normal 500 15px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.pie_chart {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 50px;
}

.country_name {
    display: flex;
    position: absolute;
    justify-content: space-between;
    gap: 50px;
    top: 200px;
    left: 30px;
    font: normal normal normal 10px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.usa {
    position: absolute;
    top: 200px;
    left: 50px;
    width: 200px;
    height: 20px;

    text-align: left;
    font: normal normal normal 10px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;

}

.russia {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 45px;
    height: 20px;
    text-align: left;
    font: normal normal normal 10px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.canada {
    position: absolute;
    top: 225px;
    left: 50px;
    width: 51px;
    height: 20px;
    text-align: left;
    font: normal normal normal 10px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.india {
    position: absolute;
    top: 225px;
    left: 200px;
    width: 33px;
    height: 20px;
    text-align: left;
    font: normal normal normal 10px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.point1 {
    position: absolute;
    top: 205px;
    left: 30px;
    width: 10px;
    height: 10px;

    background: #C8242F 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}

.point2 {
    position: absolute;
    top: 205px;
    left: 180px;
    width: 10px;
    height: 10px;
    background: #A2B86C 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}

.point3 {
    position: absolute;
    top: 230px;
    left: 30px;
    width: 10px;
    height: 10px;
    background: #F16C20 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}

.point4 {
    position: absolute;
    top: 230px;
    left: 180px;
    width: 10px;
    height: 10px;
    background: #EBC844 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 50%;
}


.invoice_div {
    position: absolute;
    top: 600px;
    left: 292px;
    width: 1217px;
    height: 558px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
}

.invoice {
    position: absolute;
    top: 00px;
    left: 00px;
    width: 82px;
    height: 29px;
    text-align: left;
    font: normal normal 500 15px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.view_all {
    position: absolute;
    top: 5px;
    left: 875px;
    width: 70px;
    height: 16px;
    text-align: left;
    font: normal normal 500 10px/16px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}


.invoice_table {
    font: normal normal normal 12px/20px Roboto;
    color: #3E3E3E;
}