.hero_div {
    width: 550px;
    height: 550px;
    box-shadow: 0px 4px 31px #0000000A;
    border: 2px solid #FFFFFF;
    opacity: 1;

}

#company_logo {
    width: 272px;
    height: 58px;
    opacity: 1;
}

#expert {
    color: rgba(200, 36, 47, 1);
    font-weight: 800;
}

#description {
    font: normal normal 400 30px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    text-align: left;

}

#login_text {
    font: normal normal normal 21px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}

.input1 {
    width: 370px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    margin-top: 20px;
}

.input2 {
    width: 370px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    opacity: 1;
    margin-top: 20px;
}

.login {
    width: 138px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
    color: rgb(255, 255, 255);
    margin-top: 20px;
}

.f_password {
    text-decoration: none;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: rgba(173, 173, 173, 1);
    opacity: 1;
    margin-top: 30px;
}

.member_text {
    width: 140px;
    height: 20px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    opacity: 1;
}

#register {
    width: 88px;
    height: 20px;
    text-align: left;
    text-decoration: none;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;

    margin-left: 5px;
}



.stat-box {
    background: #ffffff;
    padding: 16px 20px;
    border-radius: 10px;
    height: 100%;
    width: 200px;
    color: #3E3E3E;
}

.stat-box h6 {
    font-size: 18px;
}

.stat-box img {
    flex-shrink: 0;
}

.dashboard_title {
    text-align: left;
    font: normal normal 500 25px/39px Roboto;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.graph_text {
    height: 400px;
    width: 750px;
}

.sale {
    font: normal normal 600 18px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.line {
    text-decoration: underline;
    text-underline-offset: 10px;

}

.pie_chart_text {
    font: normal normal 600 18px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}


.country_name {
    font: normal normal 500 12px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}

.pie_chart {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 50px;
}

.dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    border-radius: 50%;
}

.red {
    background: #C8242F 0% 0% repeat padding-box;

}

.orange {
    background: #F16C20 0% 0% repeat padding-box;


}

.green {
    background: #A2B86C 0% 0% repeat padding-box;

}

.yellow {
    background: #EBC844 0% 0% repeat padding-box;

}



.invoice {
    width: 70px;
    height: 16px;
    font: normal normal 500 18px/29px Roboto;
    color: #3E3E3E;
    opacity: 1;
}

.view_all {
    width: 70px;
    height: 16px;
    font: normal normal 500 12px/16px Roboto;
    color: #C8242F;
    opacity: 1;
}


.invoice_table {
    font: normal normal normal 12px/20px Roboto;
    color: #3E3E3E;
}


.one_column {
    text-align: left;
    font: normal normal 500 18px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}